@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

:root {
    /*  Colors  */
    --dark: #212121;

    --grey: #b6b6b6;
    --grey-2: #949494;
    --grey-3: #5d5d5d;
    --grey-4: #313131;

    --white: #F3F3F3;

    /*  Fonts  */
    --primary-font: 'NanumSquare';
}