<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Place Review - 춘식이네 삼겹살</title>
</head>

<body>
    <header th:replace="~{/fragments/global-header::globalHeader}"></header>
    <main>
        <section>
            <div>
                <h3>춘식이네 삼겹살</h3>
                <p>평점 : 4.7 (237)</p>
            </div>
            <!-- 카카오지도api -->

            <div id="map" style="width:500px;height:400px;"></div>

            <!-- /카카오지도api -->
            <div>
                <p>제주특별시 한라봉구 24번길 4</p>
                <p>제주특별시 한라봉구 감귤3동 198번지 49</p>
            </div>
            <div>
                <p>정보 (준비중)</p>
            </div>
        </section>
        <section>
            <div>
                <!-- 리뷰영역 -->
                <div>
                    <div>
                        <span>김춘식</span>
                        <span>2025년 2월 12일 15:12:34</span>
                    </div>
                    <div>
                        <div>
                            <span>★★★★★</span>
                        </div>
                        <div>
                            <a>수정</a>
                            <a>삭제</a>
                        </div>
                    </div>
                    <div>
                        <p>리뷰 내용</p>
                    </div>
                    <div>
                        <img alt="이미지없음">
                    </div>
                </div>
                <!-- /리뷰영역 -->
                <!-- 댓글영역 -->
                <div>
                    <div>
                        <span>비회원</span>
                        <span>2025년 2월 12일 15:12:40</span>
                    </div>
                    <div>
                        <p>댓글 내용</p>
                    </div>
                    <div>
                        <form action="/comment" method="delete">
                            <div>
                                <input type="password" id="delete__password" required name="password" placeholder="비밀번호">
                            </div>
                            <div>
                                <button type="submit">삭제</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /댓글영역 -->
                <!-- 댓글작성영역 -->
                <div>
                    <form action="/comment" method="post"></form>
                    <div>
                        <div>
                            <span>댓글</span>
                        </div>
                        <div>
                            <input type="password" id="write__password" name="password" placeholder="비밀번호">
                        </div>
                    </div>
                    <div>
                        <div>
                            <input type="text" id="comment" name="comment">
                        </div>
                        <div>
                            <button type="submit">작성</button>
                        </div>
                    </div>
                </div>
                <!-- /댓글작성영역 -->
            </div>
            <div>
                <a>실시간 채팅</a>
            </div>
        </section>
    </main>
    <footer th:replace="~{fragments/global-footer::globalFooter}"></footer>
</body>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d214508bb02fc1ce17f9cb617a5ba5fc"></script>
<script>
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(33.450701, 126.570667),
        level: 3
    };

    var map = new kakao.maps.Map(container, options);
</script>
</html>