<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header th:fragment="globalHeader" class="global-header">
    <div class="global-header__logo">
        <a th:href="@{/}"><span>Playground</span></a>
    </div>
    <div class="global-header__account">
        <div sec:authorize="isAnonymous()" class="account__item">
            <span><a th:href="@{/sign-in}">로그인</a></span>
            <span><a th:href="@{/sign-up}">회원가입</a></span>
        </div>
        <div sec:authorize="isAuthenticated()" class="account__item">
            <span><a th:href="@{/my-account}">나의 계정</a></span>
        </div>
    </div>
</header>
</html>