<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Global Head Block</title>
    <th:block th:fragment="global-head-block">
        <!-- Meta Data -->
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Styles -->
        <link rel="stylesheet" th:href="@{/assets/css/variables.css}">
        <link rel="stylesheet" th:href="@{/assets/css/reset-styles.css}">
        <link rel="stylesheet" th:href="@{/assets/css/global-header.css}">
        <link rel="stylesheet" th:href="@{/assets/css/global-footer.css}">
    </th:block>
</head>
</html>