<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원탈퇴</title>
    <th:block th:replace="fragments/blocks/global-head-block::global-head-block"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/form-control.css}">
</head>
<body>
<header th:replace="~{fragments/global-header::globalHeader}"></header>
<main class="bg-grey-1 py-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-4 bg-white rounded-1 p-3">
                <form th:action="@{/my-account/cancel}" th:method="delete">
                    <div class="row mb-3">
                        <h4>정말로 계정을 삭제하시겠습니까?</h4>
                    </div>
                    <div class="row mb-4">
                        <div class="d-flex justify-content-center">
                            <a th:href="@{/my-account}" class="link">뒤로가기</a>
                        </div>
                    </div>
                    <div class="row g-0">
                        <button type="submit" class="warning-btn">삭제</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/global-footer::globalFooter}"></footer>
</body>
</html>