<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/blocks/global-head-block::global-head-block"></th:block>
    <title>비밀번호 찾기</title>
</head>
<body>
<header th:replace="~{fragments/global-header::globalHeader}"></header>
<main>
    <h2>비밀번호 찾기</h2>
    <form th:action="@{/find/password}" th:method="post">
        <div>
            <label for="email">이메일</label>
            <input type="email" name="email" id="email" placeholder="이메일">
        </div>
        <button type="submit">확인</button>
    </form>
</main>
<footer th:replace="~{fragments/global-footer::globalFooter}"></footer>
</body>
</html>