<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/blocks/global-head-block::global-head-block"></th:block>
    <link rel="stylesheet" th:href="@{/assets/css/form-control.css}">
    <title>나의 계정</title>
</head>
<body>
<header th:replace="~{fragments/global-header::globalHeader}"></header>
<main class="bg-grey-1 py-3">
    <div th:if="${errorMessage}">
        <h3 th:text="${errorMessage}"></h3>
    </div>
    <div class="container mb-3">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-4 bg-white rounded-1 p-3">
                <form th:action="@{/sign-out}" th:method="post">
                    <div class="row g-0">
                        <button type="submit" class="primary-btn">로그아웃</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-4 bg-white rounded-1 p-3">
                <form th:action="@{/my-account}" th:method="post">
                    <div class="row form-item my-3">
                        <div class="mb-2">
                            <label for="nickname" class="form-item__label">닉네임</label>
                        </div>
                        <div>
                            <input th:value="${nickname}" type="text" name="nickname" id="nickname" placeholder="닉네임"
                                   class="form_item__input"/>
                        </div>
                    </div>
                    <div class="row form-item my-3">
                        <div>
                            <div class="mb-2">
                                <label for="email" class="form-item__label">이메일</label>
                            </div>
                            <div class="d-flex">
                                <input th:value="${email}" type="email" name="email" id="email" placeholder="이메일"
                                       class="form_item__input">
                                <button id="email-verification-btn" type="button" class="ms-2 primary-btn">인증</button>
                            </div>
                        </div>
                        <div id="email-verification-code-con" hidden="hidden" class="mt-3">
                            <div class="mb-2">
                                <label for="email-verification-code" class="form-item__label">인증번호</label>
                            </div>
                            <div>
                                <input type="text" id="email-verification-code" name="verificationCode" placeholder="인증번호 입력"
                                       class="form_item__input">
                            </div>
                        </div>
                    </div>
                    <div class="row form-item my-3">
                        <div class="mb-2">
                            <label for="password" class="form-item__label">비밀번호</label>
                        </div>
                        <div>
                            <input type="password" name="password" id="password" placeholder="비밀번호"
                                   class="form_item__input"/>
                        </div>
                    </div>
                    <div class="row form-item my-3">
                        <div class="mb-2">
                            <label for="password__check" class="form-item__label">비밀번호 확인</label>
                        </div>
                        <div>
                            <input type="password" id="password__check" placeholder="비밀번호 확인" class="form_item__input">
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-6 col-sm-6">
                            <div class="row g-0">
                                <button type="button" class="secondary-btn">뒤로가기</button>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6">
                            <div class="row g-0">
                                <button type="submit" class="primary-btn">수정하기</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-4 bg-white rounded-1 p-3">
                <div class="d-flex justify-content-center">
                    <a th:href="@{/my-account/cancel}" class="link">회원탈퇴</a>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/global-footer::globalFooter}"></footer>
<script th:src="@{/assets/js/email-verification.js}"></script>
</body>
</html>