<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Place Review - 회원가입</title>
</head>
<body>
<header th:replace="~{fragments/global-header::globalHeader}"></header>
<main>
    <div>
        <h2>회원가입</h2>
        <div>
            <p>아이디/비밀번호 입력이 필요한 <a th:href="@{/sign-up}">회원가입</a></p>
        </div>
        <div>
            <p>이미 가입하셨다면? <a th:href="@{/sign-in}">로그인</a></p>
        </div>
        <hr>
    </div>
</main>
<footer th:replace="~{fragments/global-footer::globalFooter}"></footer>
</body>
</html>