<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Place Review - Sign Up</title>
</head>
<body>
<header th:replace="~{fragments/global-header::globalHeader}"></header>
<main>
    <div th:if="${errorMessage}">
        <h3 th:text="${errorMessage}"></h3>
    </div>
    <form th:action="@{/sign-up}" th:method="post">
        <h2>회원가입</h2>
        <div>
            <label for="nickname">닉네임</label>
            <input type="text" name="nickname" id="nickname" placeholder="닉네임"/>
        </div>
        <div>
            <div>
                <label for="email">이메일</label>
                <input type="email" name="email" id="email">
                <button id="email-verification-btn" type="button">인증</button>
            </div>
            <div id="email-verification-code-con" hidden="hidden">
                <label for="email-verification-code">인증번호</label>
                <input type="text" id="email-verification-code" placeholder="인증번호 입력">
                <button id="email-verification-code-btn" type="button">확인</button>
            </div>
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" name="password" id="password" placeholder="비밀번호"/>
        </div>
        <div>
            <label for="password__check">비밀번호 확인</label>
            <input type="password" id="password__check" placeholder="비밀번호 확인">
        </div>
        <div>
            <button type="submit">가입하기</button>
        </div>
    </form>
</main>
<footer th:replace="~{fragments/global-footer::globalFooter}"></footer>
<script th:src="@{/assets/js/email-verification.js}"></script>
</body>
</html>